<p id="notice"><%= notice %></p>


<h1>Menu</h1>
<div class="row" align="center">

  <tbody>
    <% @recipes.each do |recipe| %>
    <div class="col-md-4" align="center">
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.price %></td>



      </tr>
    </div>
    <% end %>
  </tbody>

</div>
<br>

<%= link_to 'New Recipe', new_recipe_path %>
